<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimalLover">
        <activity
            android:exported="false"
            android:name=".MyRequestActivity" />
        <activity
            android:exported="false"
            android:name=".MyOrdersActivity" />
        <activity
            android:exported="false"
            android:name=".AddPetActivity" />
        <activity
            android:exported="false"
            android:name=".AdoptPetActivityDetails" />
        <activity
            android:exported="false"
            android:name=".DiseaseActivity" />
        <activity
            android:exported="false"
            android:name=".FirstAidActivity" />
        <activity
            android:exported="false"
            android:name=".SingleMedicineActivity" />
        <activity
            android:exported="false"
            android:name=".SingleFoodsActivity" />
        <activity
            android:exported="false"
            android:name=".MyprofileActivity" />
        <activity
            android:exported="false"
            android:name=".MedicinePetActivity" />
        <activity
            android:exported="false"
            android:name=".MyPetActivity" />
        <activity
            android:exported="false"
            android:name=".HealthActivity" />
        <activity
            android:exported="false"
            android:name=".FoodActivity" />
        <activity
            android:exported="false"
            android:name=".BlogsActivity" />
        <activity
            android:exported="false"
            android:name=".ProfessionalsActivity" />
        <activity
            android:exported="false"
            android:name=".AdoptPetActivity" />
        <activity
            android:exported="false"
            android:name=".HomeActivity" />
        <activity
            android:exported="false"
            android:name=".LoginActivity" />
        <activity
            android:exported="true"
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>